<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <title>COUNTY APP</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="stylesheet" href="css/ratchet.min.css">
    <link rel="stylesheet" href="css/ratchet-theme-android.min.css">
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
		<header class="bar bar-nav bar-texture">
      <a id="back" class="icon icon-left-nav pull-left"></a>
      <h1 class="title">CHAT</h1>
		</header>
	<!--begin main content-->
		<div class="content content-padded">
            <br/>
            <form id="add-item" class="input-group">
              <textarea id="my_msg" placeholder="Type Message" required></textarea>     
              <button class="btn btn-positive pull-right" id="send_msg">Send</button>
            </form>
            <br/><br/>
			  	  <ul id="chat_thread" class="table-view">
			       
		        </ul>
		</div><!-- /.content -->
				<!--footer-->
		     <!-- Popover -->
				 <!-- Add Item modal -->		  
    <!-- /.modal -->
    <script type="text/javascript" src="js/libraries/ratchet.min.js" ></script>
    <script type="text/javascript" src="js/libraries/jquery.min.js" ></script>
    <script type="text/javascript" src="js/libraries/validation.js"></script>
    <script type="text/javascript" src="js/libraries/underscore-min.js"></script>
    <script type="text/javascript" src="js/libraries/storageapi.js"></script> 
	  <script type="text/javascript" src="js/libraries/moment.js"></script> 
	  <script type="text/javascript" src="js/libraries/livestamp.min.js"></script>
    <script type="text/javascript" src="js/chat.js" ></script>
    <!--templates-->
    <!-- all topics template-->
    <script type="text/template" id="user_chats">
    <% if(rc.t_error){ %>
      <li class="table-view-cell media">
       <div class="media-body">
              <p class="center-text"><%= rc.t_error %> </p>
       </div>
      </li>
     <% } else{ _.each(rc.user_chat, function(list){ %>
        <li class="table-view-cell media" >
            <div class="media-body">
              <%=list.msg_content %>
              <p><span data-livestamp=<%= list.time_stamp %>></span></p>
            </div>
        </li>
       <% }); } %>
    </script>
  </body>
</html>
